<div id="edit-form" style="width:40%;margin:2em auto;">
  <form action="/record/{{record._id}}?_method=PUT" method="POST">
    <div class="form-group form-sort">
      <div class="form-check form-check-inline">
        <p class="lead mt-3 mr-3">記帳類型</p>
        <input class="form-check-input expense" type="radio" name="sort" id="expense" value="支出" {{#compare
          record.sort '===' '支出' }}checked{{/compare}}>
        <label class="form-check-label" for="expense">
          支出
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input income" type="radio" name="sort" id="income" value="收入" {{#compare
          record.sort '===' '收入' }}checked{{/compare}}>
        <label class="form-check-label" for="income">
          收入
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="category">類別</label>
      <select class="form-control" id="category" name="category" required>
        {{#compare record.sort '===' '支出' }}
        <option style="display:none">{{record.category}}</option>
        <option>家居物業</option>
        <option>交通出行</option>
        <option>休閒娛樂</option>
        <option>餐飲食品</option>
        <option>其他支出</option>
        {{/compare}}
        {{#compare record.sort '===' '收入' }}
        <option style="display:none">{{record.category}}</option>
        <option>薪水</option>
        <option>其他收入</option>
        {{/compare}}
      </select>
    </div>
    <div class="form-group">
      <label for="name">項目</label>
      <input type="text" class="form-control" id="name" placeholder="..." name="name" value="{{record.name}}" required>
    </div>
    <div class="form-group">
      <label for="date">日期</label>
      <input type="date" class="form-control" id="date" placeholder="..." name="date" value="{{record.date}}" required>
    </div>
    <div class="form-group">
      <label for="amount">金額</label>
      <input type="number" class="form-control" id="amount" placeholder="..." name="amount" value="{{record.amount}}"
        required>
    </div>
    <div class="form-group">
      <label for="merchant">商家</label>
      <input type="text" class="form-control" id="merchant" placeholder="..." name="merchant"
        value="{{record.merchant}}" required>
    </div>
    <button type="submit" class="btn btn-success" style="margin-top: 20px;">送出編輯</button>
  </form>
</div>

<script>
  // 變換項目
  const formSort = document.querySelector('.form-sort')
  formSort.addEventListener('click', (e) => {
    if (e.target.matches('.income')) {
      category.innerHTML = `
        <option value="" style="display: none;">請選擇類別</option>
        <option>薪水</option>
        <option>其他收入</option>
      `
    } else if (e.target.matches('.expense')) {
      category.innerHTML = `
        <option value="" style="display: none;">請選擇類別</option>
        <option>家居物業</option>
        <option>交通出行</option>
        <option>休閒娛樂</option>
        <option>餐飲食品</option>
        <option>其他支出</option>
      `
    }
  })
</script>