<div class="container-fluid m-2">
  <div class="container mx-5">
    <div class="row">
      {{!-- Total amount --}}
      <div class="container-fluid mt-3">
        <p style="color:slategray;font-size:3em;margin-left:20px;">總金額: <strong
            style="color:orange;font-size:1.5em;">{{totalAmount}}</strong></p>
      </div>
    </div>
    <div class="d-flex justify-content-start" style="width:40%;">
      {{!-- Create Button --}}
      <div class="createBtn" style="margin-left: 15px;margin-right:20px;">
        <a href="/record/create" method="POST" class="btn btn-success">新增支出</a>
      </div>
      {{!-- All --}}
      <div class="allBtn" style="margin-right:20px;">
        <a href="/" class="btn btn-primary">總覽</a>
      </div>
      {{!-- Category --}}
      <div class="categoryBtn" style="margin-right:20px;">
        <form action='/record'>
          <select name="category" id="category" class="btn btn-info" onchange="this.form.submit()"
            style="cursor: pointer;">
            <option style="display:none" selected>{{#if category}}{{category}}{{else}}類別{{/if}}</option>
            <option style="display: none;">類別</option>
            <option>家居物業</option>
            <option>交通出行</option>
            <option>休閒娛樂</option>
            <option>餐飲食品</option>
            <option>其他</option>
          </select>
        </form>
      </div>
      {{!-- Month --}}
      <div class="monthBtn">
        <form action='/record'>
          <select name="month" id="month" class="btn btn-info" onchange="this.form.submit()" style="cursor: pointer;">
            <option style="display:none" selected>{{#if chosenMonth}}{{chosenMonth}}{{else}}月份{{/if}}</option>
            <option style="display: none;">月份</option>
            {{#each month}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </form>
      </div>
    </div>

    {{!-- Expense List --}}
    <div class="container-fluid mt-3">
      <ul class="list-group">
        {{#each records}}
        <li class="list-group-item">
          <div class="row align-items-center">
            <div class="col-3 d-flex align-items-center">
              <div class="category-icon" style="margin-right:15px;">
                {{{this.categoryIcon}}}
              </div>
              <div class="item">
                <div style="font-size: 1.2em;">{{this.name}}</div>
                <div style="font-size: 0.5em;">{{this.date}}</div>
              </div>
            </div>
            <div class="col-3">
              <span style="font-size: 1.2em;"><i class="fas fa-store"></i> {{this.merchant}}</span>
            </div>
            <div class="col-2">
              <span style="font-size: 1.5em;">$ {{this.amount}}</span>
            </div>
            <div class="col-4">
              <div class="btns">
                <a href="/record/{{this._id}}?_method=PUT" class="btn btn-warning">修改</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                  data-bs-target="#delete{{this._id}}">刪除</button>
                <!-- Modal -->
                <div class="modal fade" id="delete{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        確認刪除 {{this.name}} 這筆支出資料?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">取消</button>
                        <form action="/record/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
                          <button type="submit" class="btn btn-danger">確定刪除</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>